$textColor: blue;
$size: 2rem;
$primary-color: green;
$secondary-color: lightblue;
$font-weights: (
    "regular":400,
    "medium": 500,
    "bold": 700
);
$mycolors: (
    "firstcolor": blue,
    "secondcolor": purple,
    "thirdcolor": orange
);

$accent: yellow;
$strong-color: green;


$fontSize: 3rem;
