/* Börjar med att ta bort all margin och padding */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Jag valde att använda två olika media queries. En som tar bort min margin efter bredden är 1100px. 
Den andra media querien är mer för att bli anpassad för mindre skärmar eller mobiler. 
Så efter 600px ändras min grid layout helt och även menyn litegrann. */

@media only screen and (max-width: 1100px) {
  body .container {
    margin-left: 0%;
    margin-right: 0%;
  }
}


@media only screen and (max-width: 600px) {
  body .container {
    grid-template-areas: "flag flag flag flag flag flag" "pic1 pic1 pic1 pic1 pic1 pic1" "swe swe swe swe swe swe" "some pic2 pic2 pic2 pic2 pic2" "some pic2 pic2 pic2 pic2 pic2";
  }
  body ul {
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgb(65, 4, 88);
}

/* Här valde jag att köra flexbox till min navbar så all text hamnar med spaceevenly 
och sen en lite padding så text hamnar lite mer centralt i menyn. */

ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  list-style: none;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.li {
  text-decoration: none;
  color: white;
}

/* Här ändrar jag så att menyn får en hover effekt till gul. Jag lade även till en transition så att färgövergången blir lite mjukare */


.li:hover {
  color: yellow;
  transition: 0.5s;
}

/* Grid kändes som enklaste och smidigaste sättet för den här uppgiften. 
Man kan göra på många olika sätt men jag valde att köra 6 stycken lika stora 
kolumner och sedan för det kändes som bra proportioner jämfört med bilden.
Gav hela containern en margin också så att den skalar bättre i fullscreen. */


.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
  margin-left: 30%;
  margin-right: 30%;
  grid-template-areas: "flag flag flag flag flag flag" "pic1 pic1 pic1 pic1 swe swe" "some pic2 pic2 pic2 swe swe" "some pic2 pic2 pic2 swe swe";
}

/* Stylar varje inidividuell box och tilldelar rätt grid-area namn så de hamnar på rätt plats. Lägger även till färg och lite padding på
boxarna med bilder */

.box:nth-child(1) {
  background-color: blue;
  grid-area: pic1;
  color: white;
  padding: 7% 5% 5% 5%;
}

/* Ser till så att jag använder rätt child så att flaggan hamnar högst upp öven om den boxen ligger efter första boxen i html */

.box:nth-child(2) {
  grid-area: flag;
}

.box:nth-child(3) {
  background-color: lightblue;
  grid-area: swe;
  color: white;
}

/* Här stylar jag första bokstaven på texte sweden så den är större och gul */

.box:nth-child(3)::first-letter {
  color: yellow;
  font-size: 3rem;
}

/* Stylar box 4 så att texten hamnar vertikalt */

.box:nth-child(4) {
  background-color: lightblue;
  grid-area: some;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.box:nth-child(5) {
  background-color: purple;
  grid-area: pic2;
  color: white;
  padding: 7% 5% 5% 5%;
}

/* Footern valde jag att köra samma styling som menyn så de ser likadana ut. Sen flyttade jag texten till höger med text-align rightt */

footer {
  background-color: rgb(65, 4, 88);
  text-align: right;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}/*# sourceMappingURL=style.css.map */